
/* Container */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

/* Conteúdo */
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

h1 {
  color: var(--color-h1);
  font-size: 60px;
  margin-bottom: 20px;
}

h2 {
  color: var(--color-h2-p-a);
  margin-bottom: 30px;
  font-size: 40px;
}

p{
  font-weight: 500;
  font-size: 20px;
}

main button {
  background-color: var(--color-button); 
  color: var(--color-white); 
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  margin-top: 20px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

main button:hover {
  background-color: var(--color-button-hover); 
}

.sobre-web-design {
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 20px;
  padding: 40px 0;
}

.sobre-web-design article {
  flex: 1;
}

.sobre-web-design article p {
  margin-bottom: 20px; 
}

.sobre-web-design img {
  max-width: 100%;
  height: auto;
}
