
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.menu-desktop {
  display: flex;
  align-items: center;
  gap: 20px;
}



/* Estilos dos itens da lista de navegação */
.menu-desktop ul {
  display: flex;
  gap: 70px;
  padding: 0px 90px
}

.menu-desktop ul li {
  list-style: none;
}

.menu-desktop ul li a {
  color: var(--color-dark); 
  font-size: 18px;
  padding: 5px 0;
  font-weight: 600;
}

.menu-desktop ul li a:hover {
  border-bottom: 2px solid var(--color-dark);
}


/* Estilos do botão btn-laranja */
.menu-desktop .btn-laranja {
  background-color: var(--color-button); 
  color: var(--color-white); 
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-desktop .btn-laranja:hover {
  background-color: var(--color-button-hover); 
}



/* Botão do menu mobile */
.btn-abrir {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.menu-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 100vh;
  background-color: var(--color-white);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.menu-mobile ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.menu-mobile ul li a {
  font-size: 24px;
  color: var(--color-dark);
  font-weight: 600; 
}

.menu-mobile ul li a:hover {
  border-bottom: 2px solid var(--color-dark);
}

.menu-mobile .btn-laranja {
  background-color: var(--color-button); 
  color: var(--color-white); 
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  margin-top: 20px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-mobile .btn-laranja:hover {
  background-color: var(--color-button-hover)
}


.btn-fechar {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  cursor: pointer;
}
